<div class="container">
  <div class="profileImage">
    <p class="centerImage"><img src="../assets/kb.png" width="200px" height="200px"alt=""></p>
  </div>
  <h1>Karabo Maimane Curriculum Vitae</h1>
  <hr>
  <div class="personalInfo">  
    <h4>Personal Information</h4>
    <p class="info">Name: </p><p class="input">Karabo Vusumuzi</p>
    <p class="info">Surname:</p><p class="input">Maimane</p>
    <p class="info">ID Number: </p> <p class="input">9206075401087</p>
    <p class="info">Gender: </p> <p class="input">Male</p>
    <p class="info">Contact Number: </p><p class="input">(082) - 316 2480</p>
    <p class="info">Address: </p><p class="input">678B Matshaya Road Naled, Soweto</p>
  </div>
<div class="education">
  <h4>Educational Qualifications</h4>
  <div class="qualification">  
    <p class="info">Institution:</p> <p class="input">Heriot Watt University</p>
    <p class="info">Qualification: </p> <p class="input">BSc Computer Systems</p>
    <p class="info">Completion Year: </p><p class="input">2014</p>
    <br>
  </div>

  <div class="qualification">
    <p class="info">Institution:</p><p class="input">CTI Education Group</p>
    <p class="info">Qualification: </p><p class="input">HND Information Technology</p>
    <p class="info">Completion Year: </p><p class="input">2012</p>
    <br>
  </div>
</div>
<hr>
  <div class="employmentHistory">
    <h4 style="text-align: center">Employment History</h4>
    <div class="company1">
      <p class="info">Company: </p><p class="input">Coralite Training Academy</p>
      <p class="info">Sector: </p><p class="input">Information Technology</p>
      <p class="info">Position: </p><p class="input">Software Developer Intern</p>
      <p class="info">Roles: </p>
      <ul>
        <li>Creating and developing solutions using various open source languages</li>
        <li>Reporting to the line manager on a daily basis about daily tasks</li>
        <li>Supporting clients on existing systems and updating them</li>
        <li>Studying towards completing MCSD and Oracle Java SE 8 I certification</li>
      </ul>
      <p class="info">Duration</p><p class="input">2016 - 2017</p>
    </div>

    <div class="company2">
        <p class="info">Company: </p><p class="input">Tobb Technologies</p>
        <p class="info">Sector: </p><p class="input">Information Technology</p>
        <p class="info">Position: </p><p class="input">Software Developer</p>
        <p class="info">Roles: </p>
        <ul class="roles">
          <li>Creating and developing solutions using various open source languages</li>
          <li>Reporting to the line manager on a daily basis about daily tasks</li>
          <li>Supporting clients on existing systems and updating them</li>
        </ul>
        <p class="info">Duration</p><p class="input">2017</p>
      </div>
  </div>
  <hr>
  <div class="aboutme">
    <h1 style="text-align: center">About Me</h1>
    <p>Im Karabo Maimane a 25 year old freelance web and software developer born and bred in Soweto, deep down in a small town called Naledi. I have about a years experience in the professional industry. I have Bachelors Degree from Heriot Watt University
        of Computer Systems that I completed in 2015. Since then I got into a software development internship at Coralite Training Academy which I did up until October 2017. From that experience I fell in love with web development and am constantly
        learning and honing my skill as a professional freelance web developer. I am very proud to say that I am skilled in the following languages:
    </p>
        <div class="listContent">
          <li>HTML/HTML5 </li>
				  <li>CSS/CSS3 </li>
					<li>Vanilla JavaScript/JQuery </li>
					<li>Bootstrap </li>
					<li>Java 8</li>
					<li>C#, ASP.NET MVC</li>
					<li>PHP </li>
          <li>MYSQL</li>
        </div>
        <p class="text-center">I am a very passionate and eager self-starter 
          who is results-driven and creative, I put a lot of commitment to 
          every aspect of the work I do. 
          Please feel free to look at my portfolio of the projects I did. 
          Should you feel the need to contact me please dont 
          hesitate to check out my details on the footer.
        </p>
  </div>
  <div class="footer">
      <h1>You can follow me on: </h1>
      <div class="mediaIcons">
        <p id="mediaIcon">
          <a href="https://www.facebook.com/karabomaimane23"><img src="../assets/facebook.png" width="50px" height="50px" class="mediaIcon" alt=""></a>  
          <a href="https://twitter.com/ItsEffingBreeze"><img src="../assets/Twitter_Icon.png" width="50px" height="50px" class="mediaIcon" alt=""></a>
          <a href="https://www.youtube.com/channel/UCPgCN_RZjgPOxu1mtlmyKiQ?view_as=subscriber"><img src="..//assets/youtube.png" width="70px" height="50px" class="mediaIcon" alt=""></a>
        </p>
      </div>
  </div>
</div>